<<<<<<< HEAD
@charset "utf-8";
.sans {
	font-family: Sans-Serif;
	color: #005CB9;
}
body {
	background-color:rgb(229,227,223);
}

=======
body {
	background-color: tan;
	margin: 0px;
	padding 0px;
	
}
>>>>>>> Sean
hr{
	align: center;
	width: 90%;
}

/*HEADER THINGS*/
div#header{
	width: 100%;
	padding: 30px;
	background-image: url("banner.jpg");
	background-position: center; 
	color: white; /*Looks best with white*/
	background-color: pink;
	
	/*Fancy Title Effects*/
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);
	
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
div#header:hover{
	
	/*Fancy Title Effects*/
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);
	
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
div#header .title {
	text-align: center;
	font-weight: bold;
	font-size: 250%;
	text-shadow: 2px 2px black;
}
div#header p{
	text-align: center;
	font-size: 150%;
	text-shadow: 1px 1px black;
}

/*GRAPH THINGS*/
div#graphbody{
	margin: auto;
    width: 95%;
    padding: 10px;
	background-color: green;
	height: 500px;
}

div#graph{
	min-width:720px;
	width:auto;
    float:left;
    background-color:orange;
	padding: 10px;
}

div#selection{
	width:auto;
	text-align:left; /*When centered, the dropdown is not centered with the button*/
	padding: 10px;
	background-color: yellow;
}

/*
div#ex0{
	padding: 10px;
	background-color: yellow;
}
*/

div#text{
	
    margin-left:10px;
    width:auto;
    overflow:hidden;
	background-color:pink;
	padding: 10px;
}

/*FOOTER THINGS*/
div#footer{
	border 2px solid #666;
	padding: 30px;
	background-color: red;
}