/*@author: Max Oakes, Tyler Honsinger, Sean Pierson*/


body {
	background-color: #D4D4D4;
	margin: 0px;
	padding 0px;
	overflow: hidden;
	
}
hr{
	align: center;
	width: 90%;
}

/*HEADER THINGS*/
div#header{
	position:absolute;
	width:100%;
	left: 0;
	top: 0;
	padding: 20px;
	background-image: url("banner.jpg");
	background-position: center; 
	color: white; /*Looks best with white*/
	background-color: white;
	
	/*Fancy Title Effects*/
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);
	
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
div#header:hover{
	
	/*Fancy Title Effects*/
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);
	
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
div#header .title {
	text-align: center;
	font-weight: bold;
	font-size: 250%;
	text-shadow: 2px 2px black;
}
div#header p{
	text-align: center;
	font-size: 150%;
	text-shadow: 1px 1px black;
}

/*GRAPH THINGS*/
div#graphbody{
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
    width: 750px;
    padding: 10px;
	background-color: gray;
	height: 500px;
}

div#graph{
	min-width:720px;
	width:auto;
    margin:auto;
    background-color:#B0B0B0;
	padding: 10px;
}

div#selection{
	width: auto;
	text-align:center; /*When centered, the dropdown is not centered with the button*/
	padding: 10px;
	background: white;
}
div#selection select{
	 border: 1px solid #ccc;
	 overflow: hidden;
}

div#ex0{
	background-color: white;
	padding
}


/*
div#text{
	
    margin-left:10px;
    width:auto;
    overflow:hidden;
	background-color:pink;
	padding: 10px;
}
*/

/*FOOTER THINGS*/
div#footer{
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	margin-top: 10px;
	border: 2px solid #666;
	padding: 1px;
	background-color: white;

}
